.form {
    text-align: center;
    background-color: aquamarine;
    padding: 35px;
    border-color: solid;
    border-radius: 10px;
}
input {
    width: 20em;
    padding: 10px;
    margin: 5px;

}
button {
    width: 10em;
    padding: 5px;
    margin: 5px;
    border-color: gray;
    border-radius: 20px;
}